<header>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label class="label">Search</mat-label>
      <input
        matInput
        [(ngModel)]="searchTerm"
        (input)="filter()"
        placeholder="Search"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label class="label">Sort by date</mat-label>
      <mat-select>
        <mat-option
          *ngFor="let item of sortableItems"
          (click)="selectDate(item.value)"
          [value]="item.value"
          >{{ item.title }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
</header>
