.createPost {
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: aquamarine;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
  margin-left: 10px;
}
